@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:400,500,700);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    overflow-x: hidden
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600 !important;
    text-rendering: optimizeLegibility;
    color: #384047;
}

a {
    text-decoration: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

h1,
h2,
h3,
h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    color: #384047;
}

.section-title {
    font-size: 40px;
    color: red;
}

.sub-title {
    font-size: 19px;
    color: #696969;
}

.p-tp-90 {
    padding-top: 90px;
}

.p-btm-120 {
    padding-bottom: 120px;
}

.m-bt-20 {
    margin-bottom: 20px;
}

.m-tp-20 {
    margin-top: 20px;
}

.m-bt-50 {
    margin-bottom: 50px;
}

.text-center {
    text-align: center;
}

input:focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}


/********************************domain************************************/

.job-domaines-section {
    text-align: center;
}

.job-image {
    height: 270px !important;
}

.job-domaines {
    padding-left: 0;
    list-style: none;
    margin-bottom: 46px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.job-domaines-section {
    text-align: center;
}

.job-domaine {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    height: 205px;
    width: 100%;
    min-height: 1px;
}

.job-domaine>.domaine-content {
    display: block;
    text-align: center;
    z-index: 2;
    transition: all 0.4s ease 0s;
}

.job-domaine>.domaine-content:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

.job-domaine .domaine-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 6px;
}

.job-domaine .job-count {
    font-size: 14px;
    color: #F9AB00;
}

.job-domaine .domaine-content img {
    height: 160px;
    width: 160px;
}

.job-domaine>.domaine-content:hover:before,
.job-domaine>.domaine-content:focus:before {
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background-color: #fff;
    box-shadow: 0 0 50px rgb(32 32 32 / 40%);
    border-radius: 8px;
}

.job-domaine i {
    font-size: 63px;
    margin-bottom: 20px;
    transition: all 0.4s ease 0s;
    color: #8b91dd;
}

.job-domaine>.domaine-content:hover i {
    color: #F9AB00;
}

.job-domaine>.domaine-content {
    display: block;
    text-align: center;
    z-index: 2;
    transition: all 0.4s ease 0s;
}

.job-domaine .domaine-content .img {
    height: 100px;
    width: 100px
}

.job-domaine .domaine-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 6px;
}

.job-domaine {
    border: 1px solid #e8ecec;
}

.box,
.link-home {
    position: absolute;
    top: 3%;
    transform: translate(-50%, -50%);
}

.box {
    left: 80%;
}

.link-home {
    left: 76%;
}

.box select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.page-link {
    display: inline-block;
    width: 150px;
}

.idpokim {
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 16px;
    font-weight: 900;
    color: lightslategrey;
    z-index: 10;
}


/**********detail**********/

.picPoki {
    text-align: center;
    background-color: tomato;
    border-radius: 15px;
    background-image: url(../images/pokeball.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.statilevel {
    border-radius: 50%;
    padding: 11px;
    background-color: plum;
    display: inline-block;
}

.statiLabel {
    font-weight: 600;
    padding: 6px 22px;
    font-size: 24px;
    border-radius: 10px;
    background-color: yellowgreen;
    margin-right: 20px;
}

.bodylevel {
    display: inline-block;
}

.imagePosition {
    position: absolute;
    top: 44px;
    left: 26px;
    height: 122px;
}

.top {
    top: 264px
}

.type {
    background-color: saddlebrown;
    width: 24%;
    border-radius: 7%;
    padding: 6px 40px;
    margin-bottom: 14px;
    position: relative;
    top: -35px;
    color: wheat;
}

.statistic {
    position: absolute;
    top: 52px;
    left: 75%;
    width: 228px;
    font-weight: 500;
}

.statibody .col-12 {
    border: 1px solid wheat;
}

.statibas {
    margin-right: 20px;
}

.section-skil {
    position: relative;
    margin-top: -52px;
    padding: 5px 6px;
    text-align: center;
    border-bottom: 1px solid wheat;
}

.namepoki {
    position: absolute;
    bottom: 74px;
    right: 41px;
    color: navy;
    font-size: 53px;
}


/***************/

main {
    background: linear-gradient( 180deg, #ffffff 0%, rgb(225 228 232) 100%);
    padding-top: 50px;
}

.introImage {
    background-image: url(../images/pokemon.png);
    height: 50vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.into-section {
    height: 130vh;
}

.backgroundImage {
    background-image: url(../images/pokemons.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.box-intro {
    height: 60vh;
    margin: 0 auto;
    margin-bottom: 30px;
}

.introText {
    color: rgb(27, 24, 224);
    font-size: 23px;
    margin-bottom: 30px;
}

.title-langue {
    color: #b82341;
    margin-bottom: 30px;
}

#chooseLanguage,
form {
    display: flex;
}

#chooseLanguage button {
    cursor: pointer;
    margin-left: 68px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 0.6;
    border: 1px solid #22222247;
    background-size: 100%;
}

#chooseLanguage button:hover {
    opacity: 0.8;
}

.titel-star {
    color: #b82341;
    text-align: center;
}

.btn-star {
    text-align: center;
    display: block;
    font-size: 60px;
}

.paragraph-section {
    font-size: 20px;
    font-family: cursive;
    font-weight: 700;
    margin-bottom: 50px;
}